/documents/service-principle.json
/documents/deployment-multiple-customers.txt

# Ignore environment variables with credentials
.env
**/.env

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform cache and temporary files
.terraform/

# Ignore variable files that may contain secrets
*.tfvars
*.tfvars.json

# Ignore crash logs
crash.log

# Ignore local execution plans
*.tfplan
*.hcl